<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

    <title>Rionegro Open International BJJ championship</title>
    <!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/participants/css/fontawesome.css" />
    <link rel="stylesheet" href="../../static/participants/css/templatemo-style.css" />
    <link rel="stylesheet" href="../../static/participants/css/owl.css" />
    <link rel="stylesheet" href="../../static/participants/css/lightbox.css" />
</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="../../static/participants/images/rionegroopen.jpeg" alt="" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Rionegro Open</h4>
                        <span>Torneo internacional de brazilian jiujitsu</span>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">Sobre el torneo</a></li>
                            <!--<li><a href="#section2">patrocinadores</a></li>-->
                            <li><a href="#section3">Registro fotográfico</a></li>
                            <li><a href="#section4">Registrarse</a></li>
                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://instagram.com/rionegroopenbjj" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=573216694474" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            </li>
                            <li>
                              <a href="https://m.facebook.com/colombiaopen/photos/?mt_nav=1&tab=album&album_id=1571035959701231&ref=page_internal" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            

                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>Developed by wizzard tech</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2>Sobre el torneo</h2>
                    <div class="line-dec"></div>
                    <span>La versión 4 del Rionegro Open se llevará a cabo el dia 6 de noviembre de 2022, en la ciudad de Rionegro-Antioquia, en modalidad GI</span>
                    <div class="line-dec"></div>
                    <span>El torneo se llevará a cabo en el renovado coliseo Rubén Darío Quintero</span>
                    <div class="line-dec"></div>
                      <a href="https://goo.gl/maps/ZrjN7HCfqqN8Ey2bA" target="_blank" class="button" >
                        <button>Como llegar</button>
                      </a>

                    
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="../../static/participants/images/Web2copia.png " alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!--
      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>¡Gracias a nuestros patrocinadores!</h2>
            <div class="line-dec"></div>
            <span>Este torneo es realizado con el apoyo de:</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <h2>patrocinador 1</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <h2>patrocinador 2</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <h2>patrocinador 3</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    -->

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>registro fotográfico</h2>
            <div class="line-dec"></div>
            <span
              >El torneo se ha llevado a cabo en 4 versiones, aquí algunos recuerdos que nos dejó el último, en el año 2019</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label>
                  </label>
                    <label><input
                    type="radio"
                    data-type="people"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>1</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="nature"
                    name="isotope-filter"
                  />
                  <span>2</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="animals"
                    name="isotope-filter"
                  />
                  <span>3</span></label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen1.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen1.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                    src="../../static/participants/images/rioOpenGalery/rioopen2.jpg"
                    alt="sq-sample26"
                  />
                  <figcaption>
                    <a
                      href="../../static/participants/images/rioOpenGalery/rioopen2.jpg"
                      data-lightbox="image-1"
                      ><i class="fa fa-search"></i
                    ></a>
                  </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen3.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen3.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen4.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen4.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen5.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen5.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen6.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen6.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen7.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen7.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen8.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen8.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen9.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen9.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                
                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen10.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen10.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen11.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen11.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen12.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen12.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="../../static/participants/images/rioOpenGalery/rioopen13.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="../../static/participants/images/rioOpenGalery/rioopen13.jpg"
                        data-lightbox="image-1"
                        ><i class="fa fa-search"></i
                      ></a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4" style="align-content: left;">
        <div class="container">
            <div class="section-heading">
                <h2>Registro Rionegro Open</h2>
                <div class="line-dec"></div>
                <span>Completa el formulario para registrarte en el torneo</span>
            </div>
            <div class="row">
                <div class="right-content">
                    <div class="container">  
                      <div class="row">
                          <div class="col-md-12 " style="margin-top: 3%;justify-content: center; display: flex; ">
                              <fieldset>
                                <a href="/register/" target="_blank">
                                  <button>Inscribirse</button>
                                </a>
                              </fieldset>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 " style="margin-top: 3%; justify-content: center; display: flex;">
                          <fieldset>
                              <a href="/verify/" target="_blank">
                                <button>Verifique su inscripción</button>
                              </a>
                          </fieldset>
                        </div>
                    </div> 
                  </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/participants/vendor/jquery/jquery.js"></script>
    <script src="../../static/participants/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="../../static/participants/js/isotope.js"></script>
    <script src="../../static/participants/js/owl-carousel.js"></script>
    <script src="../../static/participants/js/lightbox.js"></script>
    <script src="../../static/participants/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>