<!DOCTYPE html>
<body style="margin: 0px; background: #fefefe; height: 100%">
    <div class="section-heading">
        <div class="line-dec">
        <span>puede realizar una transferencia a la cuenta de ahorros bancolombia 123456789 o nequi 3001234567</span>
    </div>
        <div class="line-dec">
        <span>IMPORTANTE: una vez realizada la transferencia adjunte el comprobante en el formulario de inscripción</span>
    </div>
        <div class="line-dec">
        <span>en caso de tener inconvenientes con el pago de la inscripción contacte via whatsapp al numero 123456789</span>
    </div>
    </div>
    <div>
        <img style="display: block;-webkit: none;-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="../../static/participants/images/QR.jpeg" width="634" height="428">
    </div>
</body>