<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    {% load static %}
    <!--link rel="stylesheet" href="{% static 'participants/styles.css' %}"-->
    <link rel="stylesheet" href="../../static/participants/vendor/bootstrap/css/bootstrap.css"  />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/participants/css/fontawesome.css" />
    <link rel="stylesheet" href="../../static/participants/css/templatemo-style.css" />
    <link rel="stylesheet" href="../../static/participants/css/owl.css" />
    <link rel="stylesheet" href="../../static/participants/css/lightbox.css" />

</head>

<body>
    <div id="page-wraper">
        <section class="section contact-me" data-section="section4" style="align-content: right;">
            <div class="container">
                <div class="section-heading">
                    <h2>Registro Rionegro Open</h2>
                    <div class="line-dec"></div>
                    <span>Completa el formulario para registrarte en el torneo</span>
                </div>
                {% block content %}
                <div class="row">
                    <div class="right-content">
                        <div class="container">
                            <form id="contact" enctype="multipart/form-data" action="/register/" method="post"> {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 " style="margin-bottom: 5%; ">
                                          <a class ="button"  href="/payment/" target="_blank">
                                            <button>Realice el pago de su inscripción</button>
                                          </a>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="nombres" type="text" class="form-control" id="nombres" placeholder="Nombres" required for={{form.nombres}} 
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="apellidos" type="text" class="form-control" id="apellidos" placeholder="Apellidos" required for={{form.apellidos}
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="documento" type="text" class="form-control" id="documento" placeholder="Documento" required for={{form.documento}} 
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="pais" type="text" class="form-control" id="pais" placeholder="País" required for={{form.pais}}
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="ciudad" type="text" class="form-control" id="apellidos" placeholder="Ciudad" required for={{form.ciudad}} 
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="academia" type="text" class="form-control" id="academia" placeholder="Academia" required for={{form.academia}} 
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <span>Fecha de Nacimiento</span><br>
                                            <input  id="fechaNacimiento" type="date" min="1930-04-01" max="2020-01-01" class="form-control" placeholder="Fecha de nacimiento" required for={{form.fechaNacimiento }} 
                                        </fieldset>
                                    </div>

                                    <div class="col-md-6">
                                        <fieldset>
                                            <select name="genero" id="genero"  class="form-control" style="opacity: 0.4;"required for={{form.genero}} >
                                            <option value="" selected disabled hidden>Género</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            </select>
                                        </fieldset>
                                    </div>                


                                    <div class="col-md-6">
                                        <fieldset>
                                            <select name=" cinturon " id="cinturon" class="form-control" style="opacity: 0.4;" required for={{form.cinturon}}>
                                            <option value="" selected disabled hidden>Cinturón</option>
                                            <option value="Blanco">Blanco</option>
                                        </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 3%;">
                                        <fieldset >
                                            <select name="Categoria" id="Categoria" class="form-control" style="opacity: 0.4;"  required for={{form.Categoria}}>
                                                <option value="" selected disabled hidden>Categoría</option>
                                                <option value="Libre">Libre</option>
                                            </select>
                                        
                                        </fieldset>
                                    </div>

                                    <div class="payment-verify col-md-12" style="margin-top: 3%;">
                                        <fieldset>
                                            <span>Adjunte aquí el comprobante del pago de su inscripción</span>
                                                <form action="/action_page.php">
                                                <input type="file" id="myFile" name="filename" required for={{form.filename}}
                                        </fieldset>
                                    </div> 
                                    <div class="col-md-12 " style="margin-top: 3%; ">
                                        <fieldset>
                                            <button type="submit " id="form-submit " class="button ">
                                            Inscribirme
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12" style="margin-top: 2%;">
                                <div class="row">
                                    <div class="col-md-12 " style="margin-top: 3%; ">
                                        <fieldset>
                                          <a class ="button" href="/weightTable/" target="_blank">
                                            <button >Verifique aquí las categorías según la IBJJF</button>
                                          </a>
                                          
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12 " style="margin-top: 3%; ">
                                    <label ><h5>IMPORTANTE: el peso corresponde al atleta con Gi</h5></label>
                                    <div class="line-dec"></div>
                                    <label ><h5>IMPORTANTE: la categoría infantil no tiene división por peso</h5></label>
                                </div>
                            </div>
                            <div class="col-md-12 " style="margin-top: 3%; ">
                                <span class="text ">¿Ya ha completado su registro?</span>
                                <div class="col-md-12 " style="margin-top: 3%; ">
                                    <fieldset>
                                      
                                        <a href="/verify/" target="_blank" class="button">
                                            <button >Verifique su inscripcion</button>
                                        </a>
                                      
                                      
                                    </fieldset>
                                </div>
                            </div>
                            
                            {%endblock%}

                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/participants/vendor/jquery/jquery.js"></script>
    <script src="../../static/participants/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="../../static/participants/js/isotope.js"></script>
    <script src="../../static/participants/js/owl-carousel.js"></script>
    <script src="../../static/participants/js/lightbox.js"></script>
    <script src="../../static/participants/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function() {
            var maleWeight = {
                "":"Categoría",
                "Infantil": "Infantil",
                "Gallo": "Gallo ( Max 57.5 kg )",
                "Pluma": "Pluma ( Max 64 kg )",
                "Pena": "Pena ( Max 70 kg)",
                "Liviano": "Liviano ( Max 76 kg)",
                "Medio": "Medio ( Max 82.3 kg)",
                "Medio Pesado": "Medio Pesado ( Max 88.3 kg)",
                "Pesado": "Pesado ( Max 94.3 kg)",
                "Super Pesado": "Super Pesado ( Max 100.5 kg)",
                "Pesadisimo": "Pesadisimo( libre )"
            };
            var femaleWeight = {
                "":"Categoría",
                "Infantil": "Infantil",
                "Pluma": "Pluma ( Max 53.5 kg )",
                "Pena": "Pena ( Max 58.5 kg)",
                "Liviano": "Liviano ( Max 64 kg)",
                "Medio": "Medio ( Max 69 kg)",
                "Medio Pesado": "Medio Pesado ( Max 74 kg)",
                "Pesado": "Pesado ( 79.3)",

            };

            $("#genero").change(function() {
                var valor = $("#genero :selected").text();
                if (valor == "Masculino") {
                    $("#Categoria").empty();
                    $.each(maleWeight, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });
                }
                else if(valor == "Femenino") {
                    $("#Categoria").empty();
                    $.each(femaleWeight, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function (){
            var kidBelt ={
                "Blanco":"Blanco",
                "Gris": "Gris",
                "Amarillo":"Amarillo",
                "Naranja":"Naranja",
                "Verde":"Verde",
            };
            var adultBelt ={
                "Blanco":"Blanco",
                "Azul":"Azul",
                "Purpura":"Purpura",
                "Marron":"Marrón",
                "Negro": "Negro"
            };

            var maleWeight = {
                "":"Categoría",
                "Gallo": "Gallo ( Max 53.5.5 kg )",
                "Pluma": "Pluma ( Max 58.5 kg )",
                "Pena": "Pena ( Max 64 kg)",
                "Liviano": "Liviano ( Max 69 kg)",
                "Medio": "Medio ( Max 74 kg)",
                "Medio Pesado": "Medio Pesado ( Max 79.3 kg)",
                "Pesado": "Pesado ( Max 84.3 kg)",
                "Super Pesado": "Super Pesado ( Max 89.3 kg)",
                "Pesadisimo": "Pesadisimo( libre )"
            };
            var femaleWeight = {
                "":"Categoría",
                "Pluma": "Pluma ( Max 44.3 kg )",
                "Pena": "Pena ( Max 48.3 kg)",
                "Liviano": "Liviano ( Max 52.5 kg)",
                "Medio": "Medio ( Max 60.5 kg)",
                "Medio Pesado": "Medio Pesado ( Max 65 kg)",
                "Pesado": "Pesado ( 69)",

            };
            var kidweight = {
                "":"Categoría",
                "Infantil": "Infantil",
            };
            $("#fechaNacimiento").change(function() {
                var date = new Date($('#fechaNacimiento').val());
                if (date.getFullYear() >= "2010" || date.getFullYear() >= "2011" || date.getFullYear() >= "2012" || date.getFullYear() >= "2013"
                || date.getFullYear() >= "2014" || date.getFullYear() >= "2015" || date.getFullYear() >= "2016" || date.getFullYear() >= "2017") {
                    $("#cinturon").empty();
                    $.each(kidBelt, function(key, value) {
                        $("#cinturon").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });

                    $("#Categoria").empty();
                    $.each(kidweight, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });
                }
                else if(date.getFullYear() >= "2004" & date.getFullYear() <= "2010"){
                    $("#cinturon").empty();
                    $.each(kidBelt, function(key, value) {
                        $("#cinturon").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });
                    var valor = $("#genero :selected").text();
                    if (valor == "Masculino") {
                        $("#Categoria").empty();
                        $.each(maleWeight, function(key, value) {
                            $("#Categoria").append($("<option></option>")
                                .attr("value", key)
                                .text(value));
                        });
                    }
                    else if(valor == "Femenino") {
                        $("#Categoria").empty();
                        $.each(femaleWeight, function(key, value) {
                            $("#Categoria").append($("<option></option>")
                                .attr("value", key)
                                .text(value));
                        });
                    }
                }
                else{
                    $("#cinturon").empty();
                    $.each(adultBelt, function(key, value) {
                        $("#cinturon").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });
                }
            })
        });
    </script>
    <script>
        $(document).ready(function (){
            var maleWeight = {
                "":"Categoría",
                "Gallo": "Gallo ( Max 57.5 kg )",
                "Pluma": "Pluma ( Max 64 kg )",
                "Pena": "Pena ( Max 70 kg)",
                "Liviano": "Liviano ( Max 76 kg)",
                "Medio": "Medio ( Max 82.3 kg)",
                "Medio Pesado": "Medio Pesado ( Max 88.3 kg)",
                "Pesado": "Pesado ( Max 94.3 kg)",
                "Super Pesado": "Super Pesado ( Max 100.5 kg)",
                "Pesadisimo": "Pesadisimo( libre )"
            };
            var femaleWeight = {
                "":"Categoría",
                "Pluma": "Pluma ( Max 53.5 kg )",
                "Pena": "Pena ( Max 58.5 kg)",
                "Liviano": "Liviano ( Max 64 kg)",
                "Medio": "Medio ( Max 69 kg)",
                "Medio Pesado": "Medio Pesado ( Max 74 kg)",
                "Pesado": "Pesado ( libre)",

            };
            var maleWeightDefault = {
                "":"Categoría",
                "Infantil": "Infantil",
                "Gallo": "Gallo ( Max 57.5 kg )",
                "Pluma": "Pluma ( Max 64 kg )",
                "Pena": "Pena ( Max 70 kg)",
                "Liviano": "Liviano ( Max 76 kg)",
                "Medio": "Medio ( Max 82.3 kg)",
                "Medio Pesado": "Medio Pesado ( Max 88.3 kg)",
                "Pesado": "Pesado ( Max 94.3 kg)",
                "Super Pesado": "Super Pesado ( Max 100.5 kg)",
                "Pesadisimo": "Pesadisimo( libre )"
            };
            var femaleWeightDefault = {
                "":"Categoría",
                "Infantil": "Infantil",
                "Pluma": "Pluma ( Max 53.5 kg )",
                "Pena": "Pena ( Max 58.5 kg)",
                "Liviano": "Liviano ( Max 64 kg)",
                "Medio": "Medio ( Max 69 kg)",
                "Medio Pesado": "Medio Pesado ( Max 74 kg)",
                "Pesado": "Pesado ( libre)",

            };
            $("#cinturon").change(function() {
                var belt = $("#cinturon :selected").text();
                var valor = $("#genero :selected").text();
                if (valor == "Masculino" & (belt == "Purpura" || belt == "Marrón" || belt == "Negro")) {
                    $("#Categoria").empty();
                    $.each(femaleWeight, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });

                }
                else if (valor == "Femenino" & (belt == "Purpura" || belt == "Marrón" || belt == "Negro")) {
                    $("#Categoria").empty();
                    $.each(femaleWeight, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });

                }
                else if (valor == "Femenino" ) {
                    $("#Categoria").empty();
                    $.each(femaleWeightDefault, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });

                }
                else if (valor == "Masculino" ) {
                    $("#Categoria").empty();
                    $.each(maleWeightDefault, function(key, value) {
                        $("#Categoria").append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                    });

                }
            })
        });
    </script>
</body>